.container {
    background-color: aqua;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 200px;
    margin-top: 40px;
}

.navigate {
    background-color: red;
}

.cards {
    background-color: pink;
    width: 100%;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.card {
    object-fit: contain;
    width: 200px;
    height: 300px;
    background-color: blue;
    margin: 15px;
    margin-top: 35px;
}

.button {
    margin-top: 200px;
}

.photo {
    width: 30px;
}